X1APServer.Service/Connected Services/AuthService/AuthService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54843/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" />
  <xs:element name="CheckAuthLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q1:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="loginReq" nillable="true" type="q2:CheckAuthLoginM.LoginReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="CheckAuthLoginResult" nillable="true" type="q3:CheckAuthLoginM.LoginRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q4:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="checkTokenReq" nillable="true" type="q5:CheckTokenM.CheckTokenReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="CheckTokenResult" nillable="true" type="q6:CheckTokenM.CheckTokenRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTokenAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q7:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="checkAuthReq" nillable="true" type="q8:CheckTokenAuthM.CheckAuthReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTokenAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="CheckTokenAuthResult" nillable="true" type="q9:CheckTokenAuthM.CheckAuthRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q10:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="getSysMenuListReq" nillable="true" type="q11:GetSysMenuListM.GetSysMenuListReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysMenuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="GetSysMenuListResult" nillable="true" type="q12:GetSysMenuListM.GetSysMenuListRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTPWithAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q13:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="getOTPReq" nillable="true" type="q14:GetOTPWithAuthM.GetOTPReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTPWithAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="GetOTPWithAuthResult" nillable="true" type="q15:GetOTPWithAuthM.GetOTPRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOTPToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q16:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="checkOTPReq" nillable="true" type="q17:CheckOTPTokenM.CheckOTPReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOTPTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="CheckOTPTokenResult" nillable="true" type="q18:CheckOTPTokenM.CheckOTPRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q19:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="registerReq" nillable="true" type="q20:RegisterM.RegisterReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="RegisterResult" nillable="true" type="q21:RegisterM.RegisterRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q22:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="getUserReq" nillable="true" type="q23:GetUserM.GetUserReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="GetUserResult" nillable="true" type="q24:GetUserM.GetUserRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q25:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="updateUserReq" nillable="true" type="q26:UpdateUserM.UpdateUserReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="UpdateUserResult" nillable="true" type="q27:UpdateUserM.UpdateUserRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q28:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="updateUserPasswordReq" nillable="true" type="q29:UpdateUserPasswordM.UpdateUserPasswordReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="UpdateUserPasswordResult" nillable="true" type="q30:UpdateUserPasswordM.UpdateUserPasswordRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUseState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q31:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="updateUseStateReq" nillable="true" type="q32:UpdateUseStateM.UpdateUseStateReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUseStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="UpdateUseStateResult" nillable="true" type="q33:UpdateUseStateM.UpdateUseStateRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q34:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q35:GetUserListM.GetUserListReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="GetUserListResult" nillable="true" type="q36:GetUserListM.GetUserListRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q37:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q38:GetRoleListM.GetRoleListReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="GetRoleListResult" nillable="true" type="q39:GetRoleListM.GetRoleListRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q40:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q41:DeleteUserM.DeleteUserReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="DeleteUserResult" nillable="true" type="q42:DeleteUserM.DeleteUserRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q43:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q44:LogoutM.LogoutReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="LogoutResult" nillable="true" type="q45:LogoutM.LogoutRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q46:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q47:IsOnlineM.IsOnlineReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="IsOnlineResult" nillable="true" type="q48:IsOnlineM.IsOnlineRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q49:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q50:ResetPasswordM.ResetPasswordReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q51:ResetPasswordM.ResetPasswordRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q52:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q53:RefreshTokenM.RefreshTokenReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="RefreshTokenResult" nillable="true" type="q54:RefreshTokenM.RefreshTokenRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q55:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q56:SyncUserListM.Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="SyncUserListResult" nillable="true" type="q57:SyncUserListM.Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q58:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q59:GenerateTokenM.Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="GenerateTokenResult" nillable="true" type="q60:GenerateTokenM.Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q61:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q62:AddOrUpdateRole.Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="AddOrUpdateRoleResult" nillable="true" type="q63:AddOrUpdateRole.Resposne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q64:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q65:GetFunctionListM.Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunctionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="GetFunctionListResult" nillable="true" type="q66:GetFunctionListM.Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q67:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q68:GetRoleM.Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="GetRoleResult" nillable="true" type="q69:GetRoleM.Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="serviceInfo" nillable="true" type="q70:AuthCommon.ServiceInfo" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="request" nillable="true" type="q71:AddFunctionM.Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BMDC.Models.Auth" minOccurs="0" name="AddFunctionResult" nillable="true" type="q72:AddFunctionM.Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>